*{ 
  margin: 0%; 
  padding: 0%; 
} 

html{
  box-sizing: border-box;
  font-size: 62.5%; /*Reset para REMS - 62.5% = 10px de 16 px*/
}
*, *:before, *:after {
box-sizing: inherit;
}


  body {
    font-size: 1.6rem;
    color: #f9fafb;
    background: rgb(64,71,61);
    background: linear-gradient(90deg, rgba(64,71,61,1) 0%, rgb(55 163 41) 54%, rgba(0,0,0,1) 100%);
}

/* ESCRITURA */
.line-1 {
  position: relative;
  /* top: 10%; */
  /* width: 24em; */
  border-right: 2px solid rgba(255,255,255,.75);
  /* font-size: 180%; */
  white-space: nowrap;
  overflow: hidden;
}


/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44) 4s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 13em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}


/* titulo fondo */
#titulo_fondo {
  background-color: #b19b6b;
  border-radius: 95px 0px 95px 95px;
  -moz-border-radius: 95px 0px 0px 95px;
  -webkit-border-radius: 106px 0px 51x 95px;
  border: 0px solid #000000;
  width: 27%;
  margin-top: 18%;
  min-height: 63%;
  margin-left: 5%;
}
/* sOBRE MI */
.line-2 {
  position: relative;
  /* top: 10%; */
  /* width: 24em; */
  border-right: 2px solid rgba(255,255,255,.75);
  /* font-size: 180%; */
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
.anim-typewriter-2{
animation: typewriter-2 4s steps(44) 8s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter-2{
from{width: 0;}
to{width: 12em}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

 /* CONTENEDOR DE TODO*/  
 #contenedor {
  width: 111rem;
  margin: auto;
  margin-top: -3rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  overflow: hidden;
  
}

@media screen and (max-width: 650px){ 
#contenedor {
  width: 95%;
  margin: auto;
  margin-top: -3rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  overflow: hidden;
}
}
#span_wtp {
  transform: translate(64%, -198%);
  position: absolute;
}
#wtp {
  width: 6%;
  z-index: 100;
  position: absolute;
  z-index: 100;
  transform: translate(545%, 335%);
}
.navegacion {
  width: 70%;
  max-width: 105rem;
  margin: 6% 15rem;
  background: rgb(58 128 50 / 40%);
  border-radius: 1rem;
  position: absolute;
}
.navegacion ul{ 
  list-style: none;   
} 
nav li{ 
  position: relative; 
  display: inline-block; 
} 
nav li a {
  display: block;
  padding: 1.5rem 5rem;
  color: #b5b5b5;
  font-family: Impact, sans-serif;
  text-decoration: none;
  display: flex;
}
nav li a:hover{ 
  color: rgb(231, 31, 31);     
  transition: all .3s; 
} 
#menu{
  display: none;
}
nav label { 
  
  display: none;

  user-select: none;
}
 /*BARRA DE MENÚ*/
 
 @media screen and (max-width: 650px){
  header {
    /* background: rgba(0,0,0,0.9); */
    width: 169%;
    position: fixed;
    z-index: 100;
}
#span_wtp{
  display: none;
}

.navegacion {
  width: 57%;
  max-width: 100rem;
  margin: 5% auto;
  background: rgb(9 25 2 / 93%);
  border-radius: 2rem;
}

ul{
display: none;
}

nav input:checked  ~ ul{
display:flex;
}

nav  input {
display: none;
}
/*menu icono*/
nav label {
  display: inline-block;
  /* border: 1px solid #4bb153; */
  width: 5rem;
  background-color: #2f6f15;
  color: #ffffff;
  height: 5rem;
  text-align: center;
  user-select: none;
  /* margin-top: -1rem; */
  padding-top: 1rem;
  border-radius: 0.5rem;
}
/* Estilo del boton cuando se pasa el mouse por encima*/


/* Estilo del boton cuando el menú está expandido*/
input:checked  label {
background: rgb(131, 48, 48); 
}


/* Estilo del despliegue*/
nav li a {
  display: block;
  /* background: rgb(0 0 0 / 63%); */
  margin: 0;
  color: rgb(217 220 148);
  padding: 1rem;
  text-decoration: none;
  border-bottom: 1px solid rgb(212 7 7 / 62%);
}
/*ilo cuando el mouse pasa encima de cada link del menu*/
li a:hover {
filter: brightness(110%);
}

nav li{ 
 
display: block; 
} 


 }
 
 @media screen and (max-width: 650px){
  #wtp {
 width: 10%;
 position: absolute;
 transform: translate(455%, 941%);
 z-index: 100;
}
}
@media screen and (width: 640px){
#wtp {
  width: 6%;
  z-index: 100;
  position: absolute;
  z-index: 100;
  transform: translate(803%, 454%);
}
}
/* TITULO */
#titulo {
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  height: 30rem;
  position: absolute;
  transform: translate(29%,25%);
  z-index: 1;
}

/*  PORTADA  */
.hero--container{
  display: block;
  width: 100rem;
  height: 50rem;
  margin: 0 auto;
  clear: both;
}

.hero{
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 0 0;
  padding: 0 0;
  position: relative;


  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
border-radius: 0px 0px 70px 70px;
-moz-border-radius: 0px 0px 70px 70px;
-webkit-border-radius: 0px 0px 70px 70px;
border: 0px solid #000000;
background-color: rgb(10 10 18 / 94%);


}
.hero-bg {
 
  /* width: 133%;
  height: 54rem; margin: 0; */
  border-radius: 0rem;
  /* border: 10px solid rgb(150 150 150); */
  z-index: -1;
  transform: translate(-13%, -1%);
  position: relative;
}
/*FOTO DE PERFIL*/

.hero-perfil {
  /* width: 30rem; */
  border-radius: 50%;
  /* border: 1px solid rgb(0, 0, 0); */
  height: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-192%, -22%);
  z-index: 1;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);


}
@media screen and (max-width: 650px){ 
  .hero-bg {
    width: 70%;
    height: 65rem;
    margin: 0;
    border-radius: 0rem;
    /* border: 10px solid rgb(150 150 150); */
    z-index: -1;
    transform: none;
    position: relative;
}
/* PERFIL */
.hero-perfil {
  /* width: 28rem; */
  border-radius: 60%;
  /* border: 1px solid rgb(0, 0, 0); */
  height: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-176%, 13%);
  z-index: 1;
}
/* TITULO RES */

#titulo {
  /* padding: 1rem; */
  /* margin-top: 1rem; */
  /* width: 100%; */
  /* height: 30rem; */
  /* position: absolute; */
  transform: translate(2%,59%);
  z-index: 1;
}


}

 /*ANIMACION (sin funcion*/
 
.animated-text{ 
    color: rgb(255, 255, 255); 
   
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
    background: transparent; 
    padding: 0 4rem; 
    height: 6rem; 
    overflow: hidden; 
  } 
  .line{ 
    text-transform: uppercase; 
    text-align: center; 
    font-size: 3rem; 
    line-height: 6rem; 
  }  
  .line:first-child{ 
    animation: anim 12s infinite; 
  } 



 /* CONTENIDO de quien SOY*/
 #contenido {
  width: 77%;
  float: left;
  background-color: rgb(8 19 21 / 94%);
  margin-top: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);}
#contenido h2 {
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  margin-top: 2%;
}
#contenido p { 
  font-size: 1.6rem; 
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  

}
#boton_mas_sobre_mi {
  display: block;
  padding: 10px 30px;
  background: #2cc51a;
  text-align: center;
  text-decoration: none;
  margin: 4rem;
  border-radius: 1rem;
  color: #FFF;
}
#boton_mas_sobre_mi:hover{
 
  background: #2cc51a;
}


.texto {
  /* font-size:28px; */
  font-family:helvetica;
  font-weight:bold;
  color:#71d90b;
  /* text-transform:uppercase; */
}
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@media screen and (max-width: 650px){ 
  #contenido {
    width: 100%;
    float: left;
    margin-top: 15rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    background-clip: padding-box;
    /* border: 10px solid rgb(17 49 0); */
  }
 
}

 /* ASIDE/APARTADO DERECHO*/
 #img_lenguajes {
  width: 39%;
  margin-top: 1rem;
  margin-left: 7rem;
  
}
 .apartado_Derecho {
  width: 22%;
  height: auto;
  background-color: #0c1824;
  margin-block: 1rem;
  padding: 1rem;
  float: right;
  border-radius: 2rem;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.apartado_Derecho h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  text-align: center;
}
/* barra de progreso */
#barProgreso {
  width: 70%;
  margin-left: 2rem;
  padding: 1rem;
}

/* iconos de barra de progreso */
.icon-progreso {
  width: 3rem;
}

@media screen and (max-width: 650px){ 
  #img_lenguajes {
    width: 54%;
    margin-top: 0rem;
    margin-left: 6rem;
}
.apartado_Derecho {
  width: 100%;
  height: auto;
  background-color: #0c1824;
  margin-block: 1rem;
  padding: 4rem;
  float: right;
  border-radius: 2rem;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);}
.apartado_Derecho h2 {
  margin-top: -1rem;
  font-size: 3.5rem;
  text-align: center;
}
  
#barProgreso {
  width: 70%;
  margin-left: 2rem;
  padding: 1rem;
}
.icon-progreso {
  width: 3rem;
}
}

/*SERVICIOS*/
#imagen_programador {
  width: 45%;
  margin-left: 5rem;
  margin-top: -3rem;
  margin-block-end: 3rem;
  /* float: left; */
}
#servicios {
  width: 77%;
  height: 100%;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #0f3834;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#intro_proyectos {
  width: 46%;
  float: right;
  background-color: rgb(9 43 49);
  margin-top: -3rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  padding: 4rem;
  /* background-clip: padding-box; */
  /* position: relative; */
  /* border: 6px solid rgb(17 49 0); */
}


.T1 h3 {
  font-size: 2.8rem;
  padding-top: 5%;
  text-align: center;
}

.btn-serv { 
  margin-top: 80%;
  padding: 0.5% 1%;
  margin-left: 3%;
  border-radius: 10%;
}
.btn-serv a {
  text-decoration: none;
  font-size: 1.2rem;
}


/* imagenes de proyectos*/


.imagen_servicios {
  width: 83rem;
  height: 42rem;
  margin-top: 1%;
  margin-left: 0%;
  position: relative;
}
/*acordeon*/
#servicios .accordion {
  max-width: 100%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  /*overflow: hidden;*/
  font-family: rgb(99, 34, 34);
  background-color: black;
  border: 1px solid rgb(75, 68, 68);
  
}

.accordion__label {
  padding: 1.4rem 2rem;
  display: block;
  /* color: rgb(134, 81, 81); */
  font-size: 1.6rem;
  text-align: left;
  font-weight: 500;
  margin-left: 0;
  width: 93%;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;

}

.accordion-button:not(.collapsed) {
  color: #f9fafb;
  background-color: #071216ed;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
  padding: 2rem;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../Assets/Images/Icon-feather-chevron-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.4s;
}

.accordion__content {
  background: black;
  line-height: 2.8rem;
  font-size: 1.6rem;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem;
  font-size: 1rem;
  color: #ffffff;
  text-align: left;
  background-color: #131111;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

.accordion-body {
  padding: 1rem 1.25rem;
  background-color: black;
}
@media screen and (max-width: 650px){ 
  #servicios {
    width: 100%;
    height: 100%;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-clip: padding-box;
    background-color: #0f3834;
    /* border: 10px solid rgb(0 49 49); */
}
.imagen_servicios {
  width: 100%;
  height: 22rem;
  margin-top: 1%;
  margin-left: 0%;
  position: relative;
}
  #imagen_programador {
    width: 85%;
    margin-left: 3rem;
    margin-top: -3rem;
    margin-block-end: 3rem;
 
}

#intro_proyectos {
  width: 95%;
  float: none;
  background-color: #081c1247;
  margin-top: -2rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  padding: 4rem;
  /* background-clip: padding-box; */
  /* position: relative; */
  /* border: 6px solid rgb(17 49 0); */
}
}

 /* ASIDE/APARTADO DERECHO HABILIDADES*/
 #img_habilidades {
  width: 47%;
  margin-left: 18rem;
  margin-top: -28rem;
}
 .apartado_Derecho_habilidades {
  width: 22%;
  height: 50rem;
  background-color: rgb(21 21 21);
  margin-block: 2rem;
  padding: 1rem;
  float: right;
  border-radius: 2rem;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);}
 
.apartado_Derecho_habilidades h2 {
  margin-top: 3rem;
  font-size: 2.5rem;
  text-align: center;
  color: #ffffff;
}
#img_habilidades {
  width: 47%;
  margin-left: 13rem;
  margin-top: -24rem;
}
@media screen and (max-width: 650px){ 
  #img_habilidades {
    width: 47%;
    margin-left: 18rem;
    margin-top: -28rem;
}
  .apartado_Derecho_habilidades {
    width: 100%;
    height: 50rem;
    background-color: rgb(9 40 16);
    margin-block: 1rem;
    padding: 4rem;
    float: right;
    border-radius: 2rem;
    background-clip: padding-box;
    /* border: 10px solid rgb(66 97 50); */
}
}


 
 




/* FORMULARIO */ 

.contact_form {
  width: 64%;
  height: 92rem;
  float: left;
  background-color: rgb(17 36 13);
  margin-top: 2rem;
  padding: 2rem;
  /* margin-left: 14rem; */
  border-radius: 2rem;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.contact_form input {
  background-color: #fbfbfb;
  width: 100%;
  height: 6rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #1af54a;
  margin: 0rem;
  margin-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
  
.contact_form textarea {
  background-color: #fbfbfb;
  width: 100%;
  height: 23rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: #1af54a;
  /* margin: 2rem; */
  padding-left: 1rem;
  padding-top: 1.5rem;
  margin-top: 1rem;
}
.contact_form label {
  margin-left: 0rem;
  float: center;
}
  
  
.contact_form button {
  height: 4.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  /* margin-left: 2rem; */
  text-transform: uppercase;
  background-color: #5bce20;
  color: #fff;
  border-style: solid;
  border-radius: 1rem;
  width: 100%;
  cursor: pointer;
}
  
  
  .contact_form button p{
    color: #fff; 
  }
  
  
  .contact_form span{ 
    margin-left: 2rem;
    color: #faf603; 
  }
  
 
  .contact_form h1{
    font-size: 3.9rem;  
    text-align: center; 
    padding-bottom: 2rem; 
    color: #868686;
  }
  
 

/*----------Mensaje de envio-----------*/ 

.formulario h1 {
        font-size: 35px;
        display: block;
        text-align: center;
        margin-bottom: 2rem;
}
.formulario a {
    display: block;
    padding: 10px 30px;
    background: #39d7ff;
    text-decoration: none;
    margin-top: 3rem;
    border-radius: 0.5rem;
    color: #FFF;
}
.formulario #enviar:hover {
    background: #33a000;
    
    
}

@media screen and (max-width: 650px){ 
  .contact_form {
    width: 100%;
    height: 92rem;
    float: left;
    /* background-color: rgb(92, 44, 44); */
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-clip: padding-box;
    /* border: 10px solid rgb(14 82 13); */
  }
    
  .contact_form input {
    background-color: #fbfbfb;
    width: 100%;
    height: 6rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #1af54a;
    margin: 0rem;
    margin-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
    
  .contact_form textarea {
    background-color: #fbfbfb;
    width: 100%;
    height: 23rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: #1af54a;
    /* margin: 2rem; */
    padding-left: 1rem;
    padding-top: 1.5rem;
    margin-top: 1rem;
  }
  .contact_form label {
    margin-left: 0rem;
    float: center;
  }
    
}

/* PIE DE PAGINA */
.copyright {
  text-align: right;
  margin: 1rem;
  padding: 1rem;
}
